@import url("https://fonts.googleapis.com/css?family=Song+Myung");

h1 {
  display: inline;
  margin: 0;
  font-size: 25px;
  font-family: "Song Myung", serif;
  color: #3e3e3e;
}

body {
  margin: 0;
  font-size: 30px;
}

.app {
  height: 100vh;
}

.title {
  position: absolute;
  top: 30%;
}

.links {
  position: absolute;
  bottom: 1%;
  right: 1%;
  display: flex;
}

.links a {
  display: flex;
  align-items: center;
}

.links img {
  height: 20px;
  margin: 0 5px;
}
#img-oq {
  margin-right: 0;
}
#img-gh {
  height: 25px;
}
